PORT=5000 # run server on this port number
DATABASE_DEV=<mongodb_database_connection_string_without_replacing_<password>> # database for development environment
DATABASE_DEV_PASSWORD=<mongodb_database_password>
DATABASE_PROD=<mongodb_database_connection_string_without_replacing_<password>> # database for production environment
DATABASE_PROD_PASSWORD=<mongodb_database_password>

JWT_SECRET=<string> #a complex unique string to protect your JWT tokens
JWT_EXPIRES_IN=<string> # eg: 90d
JWT_COOKIE_EXPIRES_IN=<string> #eg: 1, represents number of days till cookie expires

# Email Service(mailtrap) details for DEV Environment
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_FROM=# email address to send mails from
EMAIL_USERNAME=# username provided by mailtrap
EMAIL_PASSWORD=# password provided by mailtrap

# Email Service(sendgrid) details for PROD Environment
SENDGRID_USERNAME=# username provided by sendgrid
SENDGRID_PASSWORD=# password provided by sendgrid